@use '@workpace/design-system/dist/design-tokens' as *;

.container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;

  &Size {
    max-width: 1440px;
    margin: 5% 15%;
  }
}

.pageLayout {
  display: flex;
  flex-flow: row nowrap;
}

.pageContent {
  flex: 1;
  overflow: auto;
  height: 100vh;
}

@media #{$mq-sm-only} {
  .pageContent {
    flex: 1;
    margin-top: 80px;
  }
}
