@use '@workpace/design-system/dist/design-tokens' as *;

.container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;

  &Size {
    max-width: 1440px;
    margin: 5% 10%;
    padding-top: 140px; // Add padding for fixed navbar (~72px) + subnavbar (~48px) + spacing
  }
}

.pageLayout {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.pageContent {
  flex: 1;
  overflow: auto;
  width: 100%;
}

@media #{$mq-sm-only} {
  .containerSize {
    margin: 5% 5%;
    padding-top: 140px; // Add padding for fixed navbar + subnavbar on mobile
  }

  .pageContent {
    margin-top: 0;
  }
}
