@use '@workpace/design-system/dist/design-tokens' as *;

.pageLayout {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.pageContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  // Offset for the fixed StandardNavbar (~72px)
  padding-top: 72px;
}

.withSubNavbar {
  // Offset for StandardNavbar (~72px) + SubNavbar (~48px)
  padding-top: 120px;
}

@media #{$mq-sm-only} {
  .pageContent {
    // Mobile StandardNavbar is slightly taller
    padding-top: 77px;
  }

  .withSubNavbar {
    padding-top: 125px;
  }
}
