@use '@workpace/design-system/dist/design-tokens' as *;

.titleAndFilter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: $size-100;
}
.actions {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.selectedDb {
  gap: $size-100;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: $size-200 0;
}
