# set to false bc node 18 causes next-auth to throw "The engine "node" is incompatible with this module""
# set to true when fix is resolved https://github.com/nextauthjs/next-auth/issues/4575
engine-strict=false
