@use '@workpace/design-system/dist/design-tokens' as *;

.page {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(252, 252, 252);

  &Content {
    flex: 1;
  }
}

.summary {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  gap: $size-200;
  font-size: $font-body-lg-font-size;
  line-height: $font-body-lg-line-height;
}

.cardFooter {
  margin-top: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.heading {
  font-size: 1.5rem;

  &Wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &Secondary {
    font-weight: 400;
  }
}

.feedback {
  &Columns {
    display: flex;
    gap: 12px;
    align-items: flex-start;
  }
  &Row {
    margin-top: 4px;
    display: flex;
    flex-flow: row nowrap;
    gap: 4px;
    align-items: center;
  }
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}

.profileName {
  font-weight: 700;
  font-size: 18px;
}

.commentAndDate {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
}

.date {
  color: $color-neutral-600;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likeDislike {
  display: flex;
  align-items: center;
  gap: 4px;
}

.link {
  cursor: pointer;
  color: $color-primary-800;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &Group {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    align-items: center;
    color: $color-primary-800;
  }
}

.mainRows {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  gap: 4px;
}
