.container {
  display: flex;
  flex-flow: row nowrap;
  height: 48px;
  font-size: 16px;
  padding: 14px 24px;
  width: auto;
  background-color: black;
  border-radius: 8px;
  outline: none;
  border: none;
}
