.page {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  width: 100%;
  height: 100%;
  outline: solid red 1px;

  &Content {
    flex: 1;
  }
}

.section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  padding: 5% 15%;
  background-color: white;
}

.heroWrapper {
  padding: 20px;
}

.image {
  height: 400px;
  width: 300px;
  background-color: green;
}

.flexRow {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  margin: 20px;
}
