@use '@workpace/design-system/dist/design-tokens' as *;

.title {
  display: flex;
  font-size: $font-headline-display-font-size;
  justify-content: left;
  align-items: center;
  margin-bottom: 16px;
  font-weight: bold;
}

.subtitle {
  display: flex;
  font-size: 18px;
  margin-bottom: 16px;
}

.role {
  color: white;
  background-color: black;
  border-radius: $size-100;
  padding: $size-100 $size-200;

  &Heading {
    font-size: $font-headline-sm-font-size;
    font-weight: bold;
  }
}

.roles {
  display: flex;
  flex-flow: row wrap;
  gap: $size-100;
  align-items: center;
}

.userInfo {
  display: flex;
  flex-flow: column nowrap;
  gap: $size-100;
}

.username {
  font-weight: bold;
  font-size: $font-headline-lg-font-size;
}
.email {
  font-size: $font-headline-sm-font-size;
}
