@use '@workpace/design-system/dist/design-tokens' as *;

.card {
  position: relative;
  min-width: 300px;
  min-height: 350px;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: solid black 1px;
  text-align: left;
  align-content: flex-end;
  padding: 2rem 2rem;
  font-size: $font-headline-lg-font-size;
  transition: all 0.3s ease;

  &:hover {
    outline: solid black 2px;
    background-color: white;
    color: black;

    .description {
      opacity: 1;
      color: black;
    }
  }
}

.badge {
  background-color: $color-active-800;
  color: white;
  border-radius: 8px;
  text-align: left;
  align-content: flex-end;
  padding: 8px;
  font-size: $font-headline-sm-font-size;
  transition: all 0.3s ease;
  display: inline-block;

  &AndTitle {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

.description {
  padding: 2rem 2rem;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
  font-size: $font-headline-md-font-size;
}

.cardDisabled {
  position: relative;
  min-width: 300px;
  min-height: 350px;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: solid black 1px;
  text-align: left;
  align-content: flex-end;
  padding: 2rem 2rem;
  font-size: $font-headline-lg-font-size;
  transition: all 0.3s ease;

  &:hover {
    outline: solid black 2px;
    background-color: darkgray;
    color: black;

    .descriptionDisabled {
      opacity: 1;
    }
  }
}

.descriptionDisabled {
  padding: 2rem 2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  font-size: $font-headline-md-font-size;
}
