@use '@workpace/design-system/dist/design-tokens' as *;

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.title {
  width: 100%;
}

.description {
  margin: $size-100;
  line-height: $size-300;
}

.badgeGroup {
  display: flex;
  flex-direction: row wrap;
  gap: $size-100;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
