@use '@workpace/design-system/dist/design-tokens' as *;

.link {
  cursor: pointer;
  color: $color-primary-800;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
