@use '../../styles' as *;

.field {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: $size-25;
  box-sizing: border-box;
  height: $form-field-height;

  &.multi {
    height: auto;
  }
}

:root .has-icon {
  input,
  input:focus {
    padding-right: $size-100;
    margin-right: 0;
  }

  textarea,
  textarea:focus {
    padding-right: calc($size-200 + $size-250 + $size-50);
    margin-right: 0;
  }
}

.focused {
  box-shadow: inset 0 0 0 1px $color-primary-600;
}

.error-focused {
  box-shadow: inset 0 0 0 1px $color-error-600;
}
