@use '@workpace/design-system/dist/design-tokens' as *;

.section {
  display: flex;
  flex-flow: column nowrap;
  outline: solid #d5d3d3 1px;
  border-radius: 3px;
  margin-bottom: 2%;
  padding: 3%;
  background-color: white;
  gap: $size-200;
  margin: $size-300 0;

  &Hero {
    display: flex;
    flex-flow: column nowrap;
    padding: 2% 15%;
  }
}
