@use '@workpace/design-system/dist/design-tokens' as *;

.section {
  display: flex;
  flex-flow: column nowrap;
  border-radius: 3px;
  padding: 3%;
  background-color: white;
  gap: $size-200;

  &Hero {
    display: flex;
    flex-flow: column nowrap;
    padding: 2% 15%;
  }
}

.outline {
  outline: solid #d5d3d3 1px;
}
