@use '@workpace/design-system/dist/design-tokens' as design-tokens;

.grid {
  display: grid;
  justify-content: left;
  gap: 24px;
}

@media #{design-tokens.$mq-sm-only} {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media #{design-tokens.$mq-md-up} {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media #{design-tokens.$mq-lg-up} {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media #{design-tokens.$mq-xl-up} {
  .grid {
    display: flex;
    flex-flow: row wrap;
  }
}
