.button {
  height: 36px;
  background: #0985d1;
  border-radius: 4px;
  color: white;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 5.5px 0 rgba(0, 0, 0, 7%);
}

.button:hover {
  opacity: 0.8;
}
