@use '@workpace/design-system/dist/design-tokens' as *;

.container {
  display: flex;
  flex-direction: row;
  background-color: black;
  align-items: center;
  gap: 5px;
  padding: $size-200 10%;
  justify-content: space-between;
}

.brandName {
  color: white;
  font-size: 26px;
}

.logo {
  height: 5vh;
}

.authStatus {
  display: flex;
  align-items: center;
  gap: 14px;
  color: white;
}

.button {
  padding: 4px 10px;
  background-color: white;
  color: black !important;
  font-size: $font-button-md-font-size;
  line-height: $font-button-md-line-height;
  font-weight: $font-button-font-weight-default;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  max-width: 200px;

  &:hover {
    background-color: black;
    color: white !important;
    cursor: pointer;
  }
}
