@use '@workpace/design-system/dist/design-tokens' as *;

.fieldWrapper {
  padding: 10px;
  background-color: white;
  color: black !important;
  font-size: $font-button-md-font-size;
  line-height: $font-button-md-line-height;
  font-weight: $font-button-font-weight-default;
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }
}
