@use '@workpace/design-system/dist/design-tokens' as *;

.actions {
  display: flex;
  flex-flow: row nowrap;
  gap: $size-200;
  align-items: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: $size-200;
  padding-bottom: $size-25;
  align-items: flex-start;
}

.selectedDb {
  display: flex;
  flex-flow: row nowrap;
  gap: $size-50;
  align-items: center;
}
