.page {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(252, 252, 252);

  &Content {
    flex: 1;
  }
}

.section {
  display: flex;
  flex-flow: column nowrap;
  outline: solid #d5d3d3 1px;
  border-radius: 3px;
  margin-top: 1%;
  padding: 3%;
  background-color: white;

  &Hero {
    display: flex;
    flex-flow: column nowrap;
    padding: 2% 15%;
  }
}

.heading {
  font-size: 1.5rem;

  &Wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &Secondary {
    font-weight: 400;
  }
}

.modal {
  background-color: white;
  padding: 2rem;
  margin: 5rem;
  color: black;
  max-height: 70vh;
  overflow-y: auto;
}

.overlay {
  background-color: rgba(0, 0, 0, 50%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}
