@use '@workpace/design-system/dist/design-tokens' as design-tokens;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}

.grid {
  display: grid;
  justify-content: left;
  gap: 24px;
  margin-bottom: 24px;
}

.title {
  display: flex;
  font-size: design-tokens.$font-headline-display-font-size;
  justify-content: left;
  align-items: center;
  margin-bottom: 16px;
  font-weight: bold;
}

.subtitle {
  display: flex;
  font-size: 18px;
  margin-bottom: 16px;
}

@media #{design-tokens.$mq-sm-only} {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media #{design-tokens.$mq-md-up} {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media #{design-tokens.$mq-lg-up} {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media #{design-tokens.$mq-xl-up} {
  .grid {
    display: flex;
    flex-flow: row wrap;
  }
}
