@use '@workpace/design-system/dist/design-tokens' as *;

.promptWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: $size-150;
  align-items: center;
}

.buttonRight {
  display: flex;
  align-self: flex-start;
}

.loading {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  margin: $size-150;
}

.loader {
  margin: 30px 0;
}
