@use '@workpace/design-system/dist/design-tokens' as *;

.banner {
  display: flex;
  background-color: #228cfd;
  padding: $size-125 10%;
  align-items: center;
  flex-flow: row wrap;
}

.warning {
  background-color: #f2a618;
}

.link {
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
  color: black;
}
