@use '@workpace/design-system/dist/design-tokens' as *;

.select {
  padding: 10px 5px;
  display: block;
  width: 175px;
  position: relative;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.filters {
  display: flex;
  flex-flow: row wrap;
}
